<div class="jumbotron text-center">
    <h1>MEAN Tutorial App</h1>
    <p class="lead"> MEAN Application Tutorial for login</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>Using Node.js/expess using mongoose </p>
    </div>
    <div class="col-md-4">
        <h3>Angular CLI</h3>
        <p>Angular CLI to generate components.</p>
    </div>
    <div class="col-md-4">
        <h3>JWT-Tokens</h3>
        <p>FUll featured authentication using JSON web tokens.</p>
    </div>
</div>